@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #E4E5EA;
}
p {
    color: #E4E5EA;
}

ul, ol, li {
    list-style: none;
}

img {
vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    color: rgb(255, 255, 255);
}
body {
    background-color: rgba(0, 0, 0, 0.968);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1% 10%;
}

.header {

}

.main {
   flex: 1 1 auto;
   display: flex;
   justify-content: space-between;
   padding-top: 80px;
}

.footer {
    padding-top: 7%;
  display: flex;
  justify-content: space-between;
}

.line1, .menu, .contacts {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 40%;
}
.menu  {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

}

.contacts {
    width: 25%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.table {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 90px);
}
 
.info-header{
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #E4E5EA;
}

.main h1 {
    font-weight: 400;
font-size: 48px;
}
.left {
    margin-top: 15px;
    font-size: 18px;
line-height: 22px;
}
.gradient {
    font-weight: 900;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.right {
text-align: right;
}

.right-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.table span {
    font-family: 'Montserrat';
font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
}

button {
    width: 262px;
    height: 61px;
    background: #4077F3; 
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E4E5EA;     
}

.list {
    display: flex;
    justify-content: space-between;
}

h5 {
    color: #656566;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}

.contacts2 {
    text-align: right;
}
.contacts2 p{
    margin-bottom: 10px;
}

.menu2 {
    width: 40%;
}

.end-footer {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    text-align: right;
}
.end-footer a{
    text-decoration: underline;
}

.red-ball1 {
    border-radius: 50%;
position: absolute;
width: 28px;
height: 28px;
left: 851px;
top: 547px;
background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
filter: blur(2.5px);
filter: blur(2px);
}
.red-ball2 {
    border-radius: 50%;
    position: absolute;
width: 83px;
height: 83px;
left: 519px;
top: 83px;
background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
backdrop-filter: blur(2px);
}
.red-light {
    border-radius: 50%;
    position: absolute;
width: 311px;
height: 311px;
left: -102px;
top: 251px;

background: #961A1A;
opacity: 0.5;
filter: blur(196px);
}
.purple-light{
    border-radius: 50%;
    position: absolute;
width: 259px;
height: 259px;
left: 602px;
top: -154px;
background: #833AB4;
opacity: 0.5;
filter: blur(196px);
}
.purple-ball {
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 790px;
    top: -2px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    filter: blur(2px);
}